<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
    <property name="hibernate.connection.url">jdbc:derby://localhost:1527/ChemDB</property>
    <property name="hibernate.connection.username">Bart</property>
    <property name="hibernate.connection.password">Bart</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping class="chem.figures.persist.AtomModel" file="" jar="" package="chem.figures.persist" resource="chem/db/mapping/atom.hbm.xml"/>
    <mapping class="chem.figures.persist.DocumentModel" package="chem.figures.persist" resource="chem/db/mapping/document.hbm.xml"/>
    <mapping class="chem.figures.persist.ElectronModel" file="" jar="" package="chem.figures.persist" resource="chem/db/mapping/electron.hbm.xml"/>
    <mapping resource="chem/db/mapping/chemicalbond.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
